# See https://help.github.com/en/articles/about-code-owners
# to learn more about code owners.
# Order is important; the last matching pattern takes the most
# precedence. You may specify either a GitHub username, or an
# email address if you prefer, as the code owner.


# ------- BEGIN CODEOWNERS -------



# GitHub config
/.github/ @afkvido @donaldli2020 @Erisfiregamer1


# PHEx
/PHEx/ @afkvido @donaldli2020 @Erisfiregamer1


# The cheat GUI
/willsCheatMenu/ @afkvido @donaldli2020 @Erisfiregamer1



# Repository metadata & wiki
/meta/ @afkvido @donaldli2020 @Erisfiregamer1



# ------- END CODEOWNERS -------
